/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');



.buttons {
  position: relative;
  color: #fff;
  width: 100px;
  height: 40px;
  background: #3957D7;
  border-radius: 12px;
  text-decoration: none;
 font-size: 18px;
 overflow: hidden;
 cursor: pointer;
}

.buttons  .overlay {
  position: absolute;
  background: #fff;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  animation: blink 1s linear;
}

@keyframes blink {
  0% {
    height: 5px;
    width: 5px;
    opacity: 0.8;
  }
  100% {
    height: 300px;
    width: 300px;
    opacity: 0.5;
  }
}
