

.slick-prev:before,
.slick-next:before {
  content: '';
  height: 12px;  
  display: none;


}

  .slick-dots{
  width: auto;
  /* left: 76px; */
  position: absolute;
 margin-bottom: 0;
 margin-top: -26px;
 text-align: start;
 margin-left: 103px;
 bottom: 0;
 display: none;
  
  }
  .slick-dots li {
    width: 2px;
    display: none;
  }
  header{
    border-bottom: 1px solid #D1D5DB;
  }
  @media (max-width: 640px){
  
    .slick-dots{
      margin-left: 151px;
      bottom: 14px;
      display: none;
    }
  }